body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Gri arka plan */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #007BFF; /* Mavi arka plan */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #FFD700; /* Sarı başlık rengi */
}

.file-input {
    margin: 20px 0;
    padding: 10px;
    background-color: white; /* Beyaz arka plan */
    border: 2px solid #007BFF; /* Mavi kenar */
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    display: block; /* Tam genişlik */
    width: 100%; /* Genişliği %100 yap */
}

.file-input:hover {
    border-color: #0056b3; /* Daha koyu mavi hover efekti */
}

#imagePreview {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    display: none; /* Başlangıçta gizli */
    border: 4px solid white; /* Beyaz outline */
}

/* Önizleme alanının stili */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}