@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ekstra stiller */
body {
    font-family: 'Arial', sans-serif;
}

header {
    background: #007BFF; /* Mavi tonu */
}

.btn, .bg-blue-500 {
    background: #007BFF; /* Mavi tonu */
    color: #fff;
}

/* Varsayılan mavi tonunu kullanan tüm ilanlar */
button {
    background: #007BFF;
    color: #fff;
}

.success-message {
    color: #007BFF; /* Mavi tonu */
}

.error-message {
    color: red; /* Hata mesajı için kırmızı */
}